.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-expanded {
  overflow-y: scroll;
  z-index: 49;
  /*top: 4rem !important;*/
  padding-top: 1rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: width 350ms ease-in-out, height 350ms ease-in-out, left 350ms ease-in-out, top 350ms ease-in-out;
}

@media screen and (max-width: 640px) {
  .card-expanded {
    /*top: 3rem !important;*/
    margin-top: -1rem;
    padding-top: 1rem;
  }
}

.logo {
  opacity: 0;
  /* Initially, set the opacity to 0 */
  animation: fadeIn 2.5s ease forwards;
  /* Animation duration and easing */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* Start with opacity 0 */
  }

  to {
    opacity: 1;
    /* End with opacity 1 */
  }
}

.splashtext {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.splashfade-out {
  opacity: 1;
  animation: fadeOut 1s 3s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.dialogfadein {
  animation: fadeInZoom 0.1s ease-out;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.glitch {
  position: relative;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-color 15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #0ff;
  z-index: -1;
}

.glitch::after {
  animation: glitch-color 15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  animation-delay: 0.3s;
  color: rgb(255, 0, 162);
  z-index: -1;
}

@keyframes glitch-color {
  0% {
    transform: translate(0);
  }

  2% {
    transform: translate(-1px, 1px);
  }

  4% {
    transform: translate(-1px, -1px);
  }

  6% {
    transform: translate(1px, 1px);
  }

  8% {
    transform: translate(1px, -1px);
  }

  10% {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0);
  }
}